<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../../../static/plugins/bootstrap/css/bootstrap.min.css">

    {#     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">#}
    {# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> #}
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/AdminStyle.css">
    <script src="../../static/blog/ckeditor/ckeditor.js"></script>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    {# <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> #}
    <script src="../static/plugins/jquery-1.10.2.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div clas="container">
    <div class="col-md-2 adminmenu">
        <div class="sidebar-nav">
            <div class="well menu">
                <ul class="nav nav-list">
                    <li class="nav-header active"><a href="{{ url_for('admin.admin') }}" class="text-center">Admin Menu</a></li>
                    <li><a href="{{ url_for('admin.edit_work') }}" class="text-center">Редактировать работу</a></li>
                    <li><a href="{{ url_for('admin.edit_education') }}" class="text-center">Редактировать образование</a></li>
                    <li><a href="{{ url_for('admin.edit_project') }}" class="text-center">Редактировать участие в проэктах</a></li>
                    <li><a href="{{ url_for('admin.edit_my_project') }}" class="text-center">Редактировать мои проэкты</a></li>
                    <li><a href="{{ url_for('admin.edit_traineeship') }}" class="text-center">Редактировать стажировку</a></li>
                    <li><a href="{{ url_for('admin.edit_courses') }}" class="text-center">Редактировать курсы</a></li>
                    <li><a href="{{ url_for('admin.edit_education') }}" class="text-center">Редактировать конференции</a></li>
                    <li><a href="{{ url_for('admin.edit_contacts') }}" class="text-center">Редактировать контакты</a></li>
                    <li><a href="{{ url_for('admin.blog') }}" class="text-center">Управление блогом</a></li>
                    <li><a href="{{ url_for('admin.font') }}" class="text-center">Управление шрифтами</a></li>
                    <!--<li><a href="/admin/add_edit_about_me" class="text-center">Edit Article About Me</a></li>-->
                </ul>
                {% block buttons %}
                {% endblock %}
                <img class="logo" width="100%" src="../../static/img/flask.png">
            </div>

        </div>

    </div>
    {% block content %}
        <div class="col-md-2">
            <form class="add-email">
                <div class="thumbnail text-center">
                    <div class="overlay-container">
                        <div class="form-group">
                            {{ admin_form.hidden_tag() }}
                            {{ admin_form.email(class="form-control", placeholder='Email only Google') }}
                            <br><div class="btn btn-success" onclick="AddEmail()">Add Admin</div>
                        </div>
                    </div>
                </div>
            </form>
            {% for admin in admins %}
                <div class="thumbnail text-center" id="{{ admin.key() }}">
                    <div class="overlay-container">
                        <p>Admin Email: {{ admin.email }}</p>
                        <div class="overlay-content">
                            <br><div class="btn btn-danger" onclick="DeleteByKey('{{ admin.key() }}')">Delete EMail</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>
{% block scripts %}
    <script>
        function AddEmail()
        {
            var data = new FormData($('.add-email')[0]);
            $.ajax({
                type: "POST",
                url: "add_admin",
                data: data,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (result){
                    if(result['valid'])
                    {
                        var deleteemail = 'DeleteByKey("'+result['key']+'")';
                        $('.add-email > .form-group').removeClass('has-error');
                        $('#email').val('');
                        var blockemail = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                                "<div class=s'overlay-container'><p>Email: "+ result['email']+"</p><div class='overlay-content'><br>" +
                                "<div class='btn btn-danger' onclick='" +deleteemail+ "'>Delete Email" +
                                "</div></div></div></div>";
                        $(".add-email").after(blockemail);
                    }
                    else
                    {
                        $('#email').parent().addClass('has-error');
                    }
                }
            })

        }
        function DeleteByKey(key)
        {
            var url = "/admin/delete_by_key/"+key;
            $.ajax(
                    {
                        url : url,
                        type : "POST",
                        data :{},
                        contentType: false,
                        processData: false,
                        datatype: "JSON",
                        success: function()
                        {
                            document.getElementById(key).remove();
                        }
                    }
            )
        }
    </script>
{% endblock %}
</body>
</html>