{% extends "admin.html" %}
{% block head %}
<link rel="stylesheet" href="../../static/CodeMirror/lib/codemirror.css">

{% endblock %}
{% block buttons %}
<center><input id="ajaxsubmit" type="button" class="btn btn-primary" value="  Подтвердить изменения  "/></center>

{% endblock %}
{% block content %}
<div class="col-md-10">
<div>
            <textarea id="edit" style="height: auto;">{{ article }}</textarea>
</div>
</div>
{% endblock  %}
{% block scripts %}
<script src="../../static/CodeMirror/lib/codemirror.js"></script>
<script src="../../static/CodeMirror/addon/selection/selection-pointer.js"></script>
<script src="../../static/CodeMirror/mode/xml/xml.js"></script>
<script src="../../static/CodeMirror/mode/javascript/javascript.js"></script>
<script src="../../static/CodeMirror/mode/css/css.js"></script>
<script src="../../static/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script>


      // Define an extended mixed-mode that understands vbscript and
      // leaves mustache/handlebars embedded templates in html mode
      var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
                       mode: null},
                      {matches: /(text|application)\/(x-)?vb(a|script)/i,
                       mode: "vbscript"}]
      };
      var editor = CodeMirror.fromTextArea(document.getElementById("edit"), {
        mode: mixedMode,
        selectionPointer: true,
        lineNumbers: true
      });


$("#ajaxsubmit").click(function()
{   editor.save();
    //alert(JSON.stringify(editor.getValue()));
    var postData = { 'article':editor.getValue()};
    $.ajax({
        url : "/admin/{{ link }}",
        type: "POST",
        data : JSON.stringify(postData),//JSON.stringify(editor.getValue()),
        dataType: "JSON",
        contentType: "application/json",
        success: function(result)
        {
            if(result['valid'])
            {
                var message= "<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Успешно Измененно</div>";
                setTimeout(function(){$('#ajaxsubmit').before(message)},1000);
            }
        }
    })
});
</script>
{% endblock %}