.panel
{
    border-radius: 0;
}

.wrap
{
    width:98%;
    margin:40px auto;
}

/*//////////////////////////////////////////////////////*/

.panel-own
{
    display: inline-block;
    margin: 15px;
    border-radius: 0;
    width: 280px;
    height: 170px;
    padding: 20px;
}

.panel-body
{
    color: white;
}

.panel-own-full
{
    border-radius: 0;
}

.panel-own-full .panel-header
{
    text-align: center;
    color: white;
}

.panel-own-full .about-img
{
    width: 250px;
    height: 300px;
    margin: 0 10px 5px 0;
}

.panel a
{
    color: white;
    text-decoration: none;
}

.panel a:hover
{
    text-decoration: underline;
    color: white;
}

.panel-own h1
{
    font-weight: lighter;
    font-size: 40px;
}

.panel-red
{
    background: rgba(128, 13, 0, 0.79);
}

.panel-green
{
    background: rgba(54, 138, 26, 0.79);
}

.panel-purple
{
    background: rgba(96, 0, 128, 0.79);
}

.panel-blue
{
    background: rgba(0, 128, 115, 0.79);
}

.panel-dark-blue
{
    background: rgba(65, 51, 153, 0.79);
}

.panel-transparent
{
    background: transparent;
}
/*//////////////////////////////////////////////////////*/

.footer-own
{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #1C6FFF;
    text-align: center;
    font-weight: bold;

}

.footer-own p
{
    margin: 5px;
}


.blog-menu
{
    width:30%;
    float: left;
}

.panel-blog-menu ul li
{
    list-style-type: none;
    margin:10px;
}

.panel-blog-content
{
    /*text-align: left;*/
}

.panel-blog-content .panel-header
{
    text-align: left;
    margin: 0 0 0 20px;
}

.panel-footer
{
    background-color: transparent;
    border: 0;
}

.blog-content
{
    width:69%;
    float: right;
}

.margin-15px
{
    margin: 15px;
}