{% extends "base.html" %}

{% block title %}Статті{% endblock %}
{% block breadcrumbs %}Статті{% endblock %}

{% block content %}
    <div class="panel panel-default-dark margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-book"></i>Статті</h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><p>
                                    Kruglyk V.S. Peculiarities of programmatic and methodical complex “Terra Mathematica” / V.S.
                                    Kruglyk // Інформаційні технології в освіті: [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон:
                                    Видавництво ХДУ, 2010. – Вип. 8. – С. 78 – 82. (Одноосібно, Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Kruglyk V.S. Information system of software distribution / V.S. Kruglyk //
                                    Інформаційні технології в освіті: [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон:
                                    Видавництво ХДУ, 2011. – Вип. 9. – С. 168 – 173. (Одноосібно, Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)
                                </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Kruglyk V. Choosing the first educational programming language / V. Kruglyk, M. Lvov //
                                    ICT in education, research and industrial applications: integration, harmonization and knowledge transfer: 8th International Conference ICTERI 2012 (June 6-10, 2012, Kherson):
                                    [Електронний ресурс] . – Kherson, 2012. – P. 188 – 198. – Режим доступу: <a href="http://ceur-ws.org/Vol-848/ICTERI-2012-CEUR-WS-paper-37-p-188-198.pdf">http://ceur-ws.org/Vol-848/ICTERI-2012-CEUR-WS-paper-37-p-188-198.pdf</a>
                                </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Круглик В.С. Концепція організації інформаційної системи технічної підтримки / В.С. Круглик, О.О. Плечій //
                                    Інформаційні технології в освіті: [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон:
                                    Видавництво ХДУ, 2012. – Вип. 12. – С. 61 – 66. (Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)
                                    </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Круглик В.С. Науково-дослідна робота як засіб набуття студентами ІТ спеціальностей професійних компетенцій /
                                    В.С. Круглик, М.О. Вінник, О.О. Плечій // Інформаційні технології в освіті: [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон:
                                    Видавництво ХДУ, 2012. – Вип. 13. – С. 128 – 132. (Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)
                                    </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Kruglyk V.S. Requirements to student and teacher information system / V.S. Kruglyk // Інформаційні технології в освіті:
                                    [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон: Видавництво ХДУ, 2013. – Вип. 14. – С. 80 – 85.
                                    (Одноосібно, Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)
                                    </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Круглик В.С. Семантичні електронні підручники та особливості їх впровадження / В.С. Круглик //
                                    Інформаційні технології в освіті: [зб. наук. праць / голов. ред. Співаковський О.В. та ін.]. – Херсон:
                                     Видавництво ХДУ, 2013. – Вип. 15. – С. 179 – 184. (Одноосібно, Фахове видання, постанова Президії ВАК України від 14.04.10 р. №1-05/03)
                                </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                    Круглик В.С. Електронний пiдручник, як основний носiй навчального контенту / В.С. Круглик, М.О. Вінник //
                                     Інноваційні технології в освіті: матеріали VIII Міжнар. научн.-практичн. конференції: Ялта, 27-29 вересня 2012 р. - Ялта: РВВ КГУ, 2012. - С. 176 - 177.
                                </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                   Круглик В.С. Випускний проект як завершальна частина підготовки програмістів / В.С. Круглик //
                                   Педагогічні науки: [зб. наук. праць / ред. кол. Барбіна Є.С., Федяєва В.Л. та ін.]. – Вип. XLII. – Херсон :
                                    Видавництво ХДУ, 2011. – С. 268 – 271. (Одноосібно, Фахове видання, постанова Президії ВАК України від 10.02.2010 р. № 1-05/1)
                                </p></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
{% endblock %}