<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../static/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../../static/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../../static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../static/plugins/flexslider/flexslider.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="../../../../static/css/themes/default.css" id="style_color">
	<link rel="stylesheet" href="../../../../static/css/themes/blue.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../../static/css/custom.css">
</head>
<body data-feedly-mini="yes" class="boxed-layout container">
<div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li>
                       &nbsp;
                    </li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
<!-- Navbar -->
<div class="navbar navbar-default" role="navigation">
     <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only"></span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <b>Владислав Круглик</b>
                    </a>
                </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">

                <li {% if request.path == "/" %}class="active"{% endif %}>
                    <a href="/" >Главная</a>
                </li>

                <li {% if request.path == "/business_project" or request.path == "/ekspirience" or request.path == "/proposal" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Business
                    </a>
                    </a>
                            <ul class="dropdown-menu">
                                <li><a href="/business_project">Проекты</a></li>
                                <li><a href="/ekspirience">Экпириенс</a></li>
                                <li><a href="/proposal">Предложения</a></li>
                            </ul>
                </li>
                <li {% if request.path == "/books" or request.path == "/articles" or request.path == "/conference" or request.path == "/projects" or request.path == "/courses" or request.path == "/work_with_students" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Университет
                    </a>
                    </a>
                            <ul class="dropdown-menu">
                                <li><a href="/books">Книги</a></li>
                                <li><a href="/articles">Статьи</a></li>
                                <li><a href="/conference">Конференции</a></li>
                                <li><a href="/projects">Проекты</a></li>
                                <li><a href="/courses">Курсы</a></li>
                                <li><a href="/work_with_students">Работа со студентами</a></li>
                            </ul>
                </li>

                <li {% if request.path == "/contacts" %}class="active"{% endif %}>
                    <a href="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
    	<div class="container">
            <h1 class="pull-left">{% block breadcrumbs %}{% endblock %}</h1>
            	<div>
					<h1 class="name" style="font-size: 18px; font-weight: bold;text-align: right;">

					</h1>
				</div>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

<div class="container content">
    {% block content %}
    {% endblock %}
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% block scripts %}
{% endblock %}



    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <p>
                        2015 &copy; Разработано просто так)
                    </p>
                </div>
                <div class="col-md-2">
                    <ul class="social-icons">
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="#" data-original-title="Vk" class="social_vk"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="../static/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../static/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="../static/plugins/back-to-top.js"></script>
<script type="text/javascript" src="../static/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
<!--[if lt IE 9]>
    <script src="../static/plugins/respond.js"></script>
    <script src="../static/plugins/html5shiv.js"></script>
<![endif]-->
</body>
</html>