{% extends "base.html" %}

{% block title %}Книги{% endblock %}
{% block breadcrumbs %}Книги{% endblock %}

{% block content %}
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Основи розробки веб-додатків. Навчальний посібник / В.В.Осадчий, В.С.Круглик – Мелітополь: ТОВ «Видавничий будинок ММД», 2012. – 540с.<br>
                                  (рекомендовано Міністерством освіти і науки, молоді та спорту України, лист МОНМСУ №1/11-955 від 26.01.2012р)</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Комп'ютерні засоби комунікацій: навч.-метод. посіб. / Круглик В.С., Вінник М.О. - Херсон: ТОВ "ВКФ "Стар" ЛТД", 2014. - 272 с.</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Основы алгоритмизации и программирования на языке Python / Круглик В.С., Львов М.С. , Спиваковский А.В., Плечий О.А.</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
{% endblock %}