{% extends "base.html" %}

{% block title %}Проекти{% endblock %}
{% block breadcrumbs %}Проекти{% endblock %}

{% block content %}
                 <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Середовище дистанційного навчання "WebAlmir"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                 <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Сайт просування програмних продуктів</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Науково-дослідна робота молодих учених: стан, проблеми, перспективи</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Розроблення інтегрованого середовища вивчення курсу "Аналітична геометрія"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмно-методичний комплекс "Відеоінтерпретатор алгоритмів пошуку та сортування"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмне середовище "Системи лінійних рівнянь"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмно-методичний комплекс "ТерМ VII" підтримки практичної навчальної математичної діяльності. Версія 1 реліз 05, версія 2 реліз 03</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div><hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Розробка символічних методів та веб-технологій для віртуального центру обчислення нелінійних резонансів</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div><hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмний засіб "Бібліотека електронних наочностей Алгебра 7-9 клас для загальноосвітніх навчальних закладів України"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Педагогічний програмний засіб "Алгебра, 7 клас"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмний засіб навчального призначення "Алгебра, 8 клас"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмний засіб навчального призначення «Терра Математика: Алгебра, 7 клас»</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Програмний засіб навчального призначення «Терра Математика: Алгебра, 8 клас»</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <hr class="margin-bottom-40">
                <div class="row blog blog-medium margin-bottom-60">
                    <div class="col-md-12">
                        <h2>Розроблення інтегрованого середовища контролю знань студентів з економіко-математичних дисциплін нормативної частини для вищих навчальних закладів для спеціальності 6.050100 "Економіка підприємства", 6.050101 "Економічна теорія"</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                </div>
{% endblock %}