{% extends "base.html" %}

{% block title %}Конференции от университета{% endblock %}
{% block breadcrumbs %}Конференции от университета{% endblock %}

{% block content %}
        <div class="panel panel-default-dark margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar"></i> Міжнародні науково-практичні конференції</h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><p>

                                «Інформатизація освіти України: стан, проблеми, перспективи» (Херсон, 2005)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                «Інформаційні технології в системі управління освітою України» (Херсон, 2005)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Географічні інформаційні системи в аграрних університетах (GISAU)» (Херсон, 2006)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Нові інформаційні технології в освіті для всіх» (Київ, 2006)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Інформатизація освіти України. ІКТ у вищих навчальних закладах» (Херсон, 2010)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «ІКТ в освіті, дослідженнях та індустріальних додатках: інтеграція, гармонізація та трансфер знань» (Херсон, 2011)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «ІКТ в освіті, дослідженнях та індустріальних додатках: інтеграція, гармонізація та трансфер знань» (Херсон, 2012)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Інноваційні технології в освіті» (Ялта, 2012)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Професіоналізм педагога в контексті Європейського вибору України: якість освіти – основа конкурентоспроможності майбутнього фахівця» (Ялта, 2012)

                                </p></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default-dark margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar"></i> Всеукраїнські науково-практичні конференції</h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><p>

                                 «Інформатика та комп’ютерна підтримка навчальних дисциплін у середній і вищій школі» (Бердянськ, 2004)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Особливості підготовки вчителів природничо-математичних дисциплін в умовах переходу школи на профільне навчання» (Херсон, 2004)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                «Теорія і методика навчання інформатики та математики» (Мелітополь, 2004)

                                </p></td>
                            </tr>
                            <tr>
                                <td><p>

                                 «Компетентнісний підхід до вивчення природничо-математичних дисциплін у закладах середньої ланки освіти» (Херсон, 2005).

                                </p></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
{% endblock %}