{% extends "base.html" %}

{% block title %}Контакты{% endblock %}
{% block breadcrumbs %}Контакты{% endblock %}

{% block content %}
    <div class="col-md-12 mb-margin-bottom-30">
                <form>
                    <label>Name</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control"></textarea>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </form>
            </div>
{% endblock %}