{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block breadcrumbs %}Главная{% endblock %}

{% block content %}
<div class="col-md-3">
    <img class="img-rounded" width="250px" src="https://pp.vk.me/c617331/v617331987/f0d3/6yp0sDRTUuU.jpg" alt="">
</div>
 <div class="col-md-9">
                        <blockquote class="bq-text-lg">
                            <p>– Ph.D. , Associate professor of department of Informatics of Kherson State University<br>
                            – Project manager<br>
                            – Senior software engeneer</p>
                        </blockquote>
                    </div>
 <div class="tag-box tag-box-v6 col-md-12" style="margin: 10px;">
                            <h2>I'm Ph. D. in Pedagogical Science, Associate professor of department of Informatics of Kherson State University, Senior software engeneer at Altima Websystems</h2>
                            <p></p>
                        </div>
 <div class="col-md-12">
    <blockquote>
                    <h2>Персональная иформация</h2>
                    <table class="table" style="font-size: 14px;">
                        <tbody>
                        <tr>
                            <td>Date of birth</td>
                            <td>
                                July 30rd, 1981
                            </td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td id="em1">


                            </td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>
                                +38 095 257 92 04
                            </td>
                        </tr>
                        <tr>
                            <td>LinkedIn</td>
                            <td>
                                <a href="http://ua.linkedin.com/in/vladislavkruglik/" title="Vladislav Kruglik Linkedin profile" target="_blank">Vladislav Kruglik</a>
                            </td>
                        </tr>
                        </tbody></table>
    </blockquote>
 </div>
{% endblock %}
{% block scripts %}
<script>
var em1 = document.getElementById('em1');
if (em1){
  em1.innerText = 'krugvs' + '@' + 'gmail' + '.com';
}
</script>
{% endblock %}



