{% extends "base.html" %}

{% block title %}Робота зі студентами{% endblock %}
{% block breadcrumbs %}Робота зі студентами{% endblock %}

{% block content %}
    <div class="panel panel-default-dark margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-book"></i>Робота зі студентами</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><center>Проэкт</center></th>
                                    <th><center>Студент</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Розробка програмного забезпечення для Інтернет-підтримки діяльності громадських організацій</td>
                                    <td>Павленко Артем Володимирович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Особливості розробки інтерфейса користувача на мові HTML5</td>
                                    <td>Божченко Роман Валерійович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка системи типових сайтів для викладачів</td>
                                    <td>Городков Денис Ігорович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка системи типових сайтів для студентів</td>
                                    <td>Водосков Сергій Володимирович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Додаток Win8 для керування задачами</td>
                                    <td>Бахмач Ганна Олександрівна (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Веб система тестування з захистом даних</td>
                                    <td>Mануйленко Олександр Олександрович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка електронного підручника "Основи комунікацій" для платформи Андроїд</td>
                                    <td>Сита Альона Русланівна (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка електронного підручника "ОАП" для платформи Андроїд</td>
                                    <td>Петлюченко Олександр Олександрович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка інтерфейсу користувача платформи андроїд на прикладі додатку керування справами</td>
                                    <td>Зайцев Святослав Олегович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Методи синхронізації даних з сервером в мобільних додатках</td>
                                    <td>Зайцев Святослав Олегович (диплом)</td>
                                </tr>
                                <tr>
                                    <td>Керування профайлами на платформі Android з використанням геопозиціювання</td>
                                    <td>Сиволоцький Віталій Михайлович (диплом)</td>
                                </tr>
                                <tr>
                                    <td>Модульна структура веб-сервісу</td>
                                    <td>Сиволоцький Віталій Михайлович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Розробка модулю веб-сервісу</td>
                                    <td>Гомон Сергій Олександрович (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Проектування та розробка вебсховища відеоматеріалів навчального призначення</td>
                                    <td>Орехівська Вікторія Вікторівна (диплом)</td>
                                </tr>
                                <tr>
                                    <td>Розробка плагіну для Firefox та інтеграція з веб-сервісом</td>
                                    <td>Свириденко Юлія Ігорівна (диплом)</td>
                                </tr>
                                <tr>
                                    <td>Підготовка відеоматеріалів навчального призначення</td>
                                    <td>Орехівська Вікторія Вікторівна (курсова)</td>
                                </tr>
                                <tr>
                                    <td>Особливості розробки плагінів для Firefox</td>
                                    <td>Свириденко Юлія Ігорівна (курсова)</td>
                                </tr>

                                <tr>
                                    <td>Проектування бази даних "НМКД"</td>
                                    <td>Кол Елвіс Нгвене (диплом)</td>
                                </tr>

                                <tr>
                                    <td>Проектування бази даних "Розклад" та веб інтерфейсу доступу</td>
                                    <td>Оволабі Антоні Оладімеджі (диплом)</td>
                                </tr>

                                <tr>
                                    <td>Проектування бази даних "Розклад"</td>
                                    <td>Кол Елвіс Нгвене (курсова)</td>
                                </tr>

                                <tr>
                                    <td>Веб система тестування з захистом даних</td>
                                    <td>Краснов Єгор Олегович (диплом)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
{% endblock %}